<!DOCTYPE html>
<html>
<head> <title> Sign Up </title>
	<link rel="stylesheet" href="sign-up.css">
	<script src="sign-up.js"> </script>
</head>

<body>
<form name="form" action="login.html" method="post" onsubmit="return validate()">
	
	<div class="testbox">
		<h2> SIGN UP </h2>
		
			<hr>
				<p class="format"> <label> </label> </p>
				<input type="text" name="fname" id="fname" placeholder="First Name" required pattern="[a-zA-Z]{1,}" title="Only Alphabets"/>
				
				
				<p class="format"> <label id="" for="lname"> </label> </p>
				<input type="text" name="lname" id="lname" placeholder="Last Name" required pattern="[a-zA-Z]{1,}" title="Only Alphabets"/>
				
				
				<p class="format"> <label id="" for="gender"> </label> </p>
				<select class="select-style gender" name="gender" required>
	            <option value="">Gender</option>
	            <option value="m" id="gender">Male</option>
	            <option value="f" id="gender">Female</option>
	            </select>
				
				
				<p class="format"> <label id="" for="email"> </label> </p>
				<input type="email" name="email" id="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Correct Format of Email ID"/>
				
				
				<p class="format"> <label id="" for="contact"> </label> </p>
				<input type="text" name="contact" id="contact" placeholder="Contact Number" required pattern="[7-9]{1}[0-9]{9}" title="Phone number starting with 7/8/9 and remaining 9 digit with 0-9"/>
				
				
				<p class="format"> <label id="" for="uname"> </label> </p>
				<input type="text" name="uname" id="fname" placeholder="User Name" required pattern="[a-zA-Z0-9]{1,}" title="Only Alphanumeric. No Special Characters"/>
				
				
				<p class="format"> <label id="" for="password"> </label> </p>
				<input type="password" name="password" id="password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
				
				
				<p class="format"> <label id="" for="password"> </label> </p>
				<input type="password" name="confpass" id="confpass" placeholder="Confirm Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
				
				
				<p class="format"> <label id="" for="image"> </label> </p>
				<input type="file" name="image" id="image" required/>
			</hr>
			
			<hr>
				<input type="submit" id="submit" value="SIGN UP">
			</hr>
		</form>
	</div>
	
</form>
</body>
</html>